*,
*::before,
*::after {
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.container {
	margin: 0 auto;
	width: 1158px;
	padding: 0 15px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-content: center;
}


body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: #ffffff;
}

img {
	display: block;
}

.header {
	border-bottom: 1px solid #e7e9fc;
	max-width: 100%;
	height: 72px;
	margin: 0 auto;
}

.nav-box {
	align-items: center;
}

.nav-section {
	padding: 24px 0;
}

.nav-box,
.section-list,
.box,
.contact-info {
	display: flex;
	flex-direction: row;
	height: inherit;
}

.contact {
	display: inline-block;
}

.logo,
.section-list,
.main-tel {
	height: 24px;
}

.logo {
	display: flex;
	width: 115px;
	margin-left: 156px;
	margin-top: 24px;
	padding: 0;
	margin-right: 76px
}

.section-list {
	display: flex;
	padding-left: 0;
	margin-left: 76px;
	margin-top: 24px;
	gap: 40px;
	width: 261px;
}

.mail-tel {
	display: flex;
	padding-left: 0;
	margin-top: 24px;
	margin-left: 332px;
	gap: 40px;
}

.container {
	margin: 0 auto;
	width: 1158px;
	padding: 0 15px;
	display: flex;
	height: 600px;
	justify-content: center;
	align-content: center;
}

.section-title {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	max-width: 496px;
	align-content: center;
}

/* кнопка */
.button-class {
	height: 56px;
	border: none;
	display: block;
	padding: 16px 32px;
	border-radius: 4px;
	min-width: 169px;
	position: absolute;
	left: 50%;
	margin: 428px;
}

.button-class {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-align: left;
	color: #ffffff;
	background-color: #4d5ae5;
	cursor: pointer;
}

.button-class:hover,
.button-class:focus {
	background-color: #404bbf
}

/* кнопка*/


.about-list {
	display: flex;
	column-gap: 24px;
	row-gap: 48px;
}

.about-list .list-item:last-child {
	margin-right: 0;
}

.about-list,
.list,
.item-heading {
	margin-bottom: 8px;
	padding: 0;
	width: 264px;
	height: 104px;
}

.item-heading,
.item-text {
	justify-content: center;
	text-align: center;
}

.list-item {
	display: block;
	flex-direction: row;
	width: calc((100% - 72px) / 4);
	height: 380px;
	padding: 32px 0;
	background-color: #ffffff;
}

.list-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.section-list,
.mail-tel,
.list-item {
	list-style-type: none;
}



.header .logo {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	font-weight: 700;
	text-transform: uppercase;
	color: #4D5AE5;
}

.header .logo:hover,
.header .logo:focus {
	color: #404b5f;
}



.header .studio-part {
	color: #2e2f42;
}


.section-list .nav-section {
	text-decoration: none;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

/* list */
.section-list .nav-section:hover,
.section-list .nav-section:focus {
	color: #404bbf;
}

.contact-info {
	font-style: normal;
}

.contact-info .contact {
	text-decoration: none;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #434455;
}

.contact-info .contact:hover,
.contact-info .contact:focus {
	color: #404bbf;
}


/* s1 */
.section-one .section-title {
	font-family: "Roboto";
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: #FFFFFF;
}

.section-one {
	background-color: #2e2f42;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 188px 0;
	max-width: 496px;

}

/* s1 */



.team-section {
	background-color: #f4f4fd;
	padding: 120px 0;
}

.section-heading {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
	margin-bottom: 72px;
}

.item-heading {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
	text-align: center;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.item-text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.text-content {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
	text-align: center;
}

.main-section {
	padding: 120px 0;
	background-color: #F4F4FD;
}

.footer {
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #F4F4FD;
	background-color: #2E2F42;
	padding: 100px 0;
}

.footer .studio-part {
	color: #F4F4FD;
}

.footer .logo {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.54px;
	font-weight: 700;
	text-transform: uppercase;
	color: #4D5AE5;
}

.footer .logo:focus,
.footer .logo:hover {
	color: #404b5f;
}

.portfolio-section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.footer-logo {
	display: inline-block;
	margin-bottom: 16px;
	font-weight: 700;
	color: #4D5AE5;
	text-decoration: none;
}

.footp {
	color: #434455;
	font-size: 16px;
	line-height: 1.5;
}

.team-list {
	display: flex;
	gap: 24px;
	margin-right: 24px;
}

.content-box {
	padding: 32px 0;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 48px;
}

.portfolio-box {
	width: calc((100% - 48px) / 3);
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;
	margin-bottom: 8px
}